.valle-de-las-estrellas {
  background-image: url('../assets/bg5.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.screen-container {
  display: flex; /* Divide los hijos en columnas */
  height: 100%; /* Ocupa toda la altura de la pantalla */
  width: 100%; /* Ocupa toda la anchura de la pantalla */
}

.left-side,
.right-side {
  flex: 1; /* Ambas columnas ocupan el mismo espacio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-side {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
  padding: 20px;
  color: white;
  text-align: center;
}

.right-side {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo claro translúcido */
  color: black;
  text-align: center;
}

.valle-de-las-estrellas .title {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.valle-de-las-estrellas .description {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.valle-de-las-estrellas .complete-btn{
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.valle-de-las-estrellas .next-btn {
  margin-top: 2%;
  margin-left: 30%;
  padding: 5px 10px; /* Reducir el espacio interno */
  font-size: 0.9em; /* Reducir el tamaño de la fuente */
  font-family: 'Roboto Slab', serif;
  border: none;
  border-radius: 3px; /* Hacer los bordes menos redondeados */
  cursor: pointer;
  background-color: #28a74588;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); /* Ajustar la sombra para menor intensidad */
  transition: all 0.3s;
}

.valle-de-las-estrellas .complete-btn:hover, .next-btn:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */
  background-color: #28a745;
}

.mute-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 2em;
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: transform 0.3s;
}

.mute-btn:hover {
  transform: scale(1.2);
}

.dialog {
  display: flex;
  align-items: center;
}

.character-img {
  margin-left: 15%;
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.dialog-text {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
  padding: 5px;
  border-radius: 10px;
  color: white;
  max-width: 40%;
}

/* Estilo para el contenedor de la letra */
.lyrics-container {
  width: 100%; /* Asegura que ocupe el 100% del ancho disponible */
  max-height: 200px; /* Limita la altura máxima, ajusta según lo que desees */
  overflow-y: auto; /* Permite el desplazamiento vertical */
  margin-top: 20px; /* Espaciado superior para separar un poco del video */
  padding-right: 10px; /* Espaciado a la derecha para que no se pegue al borde */
  transition: all 0.3s;
}

/* Estilo para el contenido de la letra */
.lyrics-content {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  padding: 5px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.821);
  white-space: pre-wrap; /* Mantener los saltos de línea y espacios */
  word-wrap: break-word; /* Asegura que las palabras largas se ajusten a la línea */
}

.lyrics-container:hover {
  transform: scale(1.1); /* Ligero levantamiento al hacer hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al hacer hover */
}

.lyrics-container::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.lyrics-container::-webkit-scrollbar-thumb {
  background-color: #3032cc58; /* Color del "pulgar" de la barra */
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.3s ease;
}


.lyrics-container::-webkit-scrollbar-track {
  background-color: #e0e0e033; /* Fondo claro para la pista de la barra */
  border-radius: 10px;
}