body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  overflow: hidden;
}



.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.inicio {
  background-image: url('./assets/inicio.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapa {
  background-image: url('./assets/mapa.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-title {
  font-size: 3em;
  margin-bottom: 20px;
  color: white; /* Texto blanco */
  text-shadow: 0px 0px 5px black,  /* Sombra intensa, difusa */
               0px 0px 10px black, 
               0px 0px 15px black; /* Aumentando la intensidad de la sombra */
}




.title, .map-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.map {
  position: relative;
  width: 80%;
  height: 60%;
  border: none;  /* Eliminamos el borde */
  border-radius: 10px;
  margin: 0; /* Eliminamos el margen */
  background: transparent;  /* Hacemos que el fondo sea transparente */
}

.map-stop {
  position: absolute;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: float 2s infinite;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);  /* Agregamos sombra para dar más visibilidad */
}

.map-stop.completed {
  background-color: #28a745;
  color: white;
}

.map-stop.finished {
  background-color: #284aa7;
  color: white;
}

.map-stop:disabled {
  background-color: #999;
  cursor: not-allowed;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.start-btn, .complete-btn, .return-btn .next-btn {
  padding: 10px 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff5722;
  color: white;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.start-btn:hover, .complete-btn:hover, .return-btn:hover {
  background-color: #e64a19;
  transform: scale(1.3);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.help-btn {
  position: absolute;
  top: 80px;
  right: 20px; /* Lo mueve a la derecha */
  padding: 10px 20px;
  font-size: 2em; /* Aumentamos el tamaño del emoji */
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: transform 0.3s;
}

.help-btn:hover {
  transform: scale(1.2); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.mute-btn {
  position: absolute;
  top: 20px;
  right: 20px; /* Lo mueve a la derecha */
  padding: 10px 20px;
  font-size: 2em; /* Aumentamos el tamaño del emoji */
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: transform 0.3s;
}

.mute-btn:hover {
  transform: scale(1.2); /* Aumenta ligeramente el tamaño al pasar el ratón */
}  

/* Estilo del popup */
.help-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9); /* Fondo oscuro con un toque de opacidad */
  color: white;
  padding: 20px;
  border-radius: 15px; /* Bordes más suaves */
  width: 80%;
  max-width: 600px;
  z-index: 1000;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  opacity: 0;
  animation: fadeIn 0.5s forwards; /* Fade de entrada */
}

/* Animación de fade */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Contenido del popup */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Botón de cierre */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 2em; /* Tamaño del emoji */
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.close-btn:hover {
  transform: scale(1.2); /* Efecto de aumento al pasar el ratón */
}

/* Estilos del título */
.popup-content h2 {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #715bff; 
}

/* Estilos del párrafo */
.popup-content p {
  font-size: 1.2em;
  
  margin-left: 20px;
  margin-right: 20px;
  color: #FBA0FE; /* Gris claro para el texto */
}

/* Estilos de la lista de instrucciones */
.popup-content ul {
  padding: 0;
  list-style-type: none;
}

.popup-content li {
  font-size: 1.1em;
  
  color: #FFeF65; /* Amarillo para las instrucciones */
}
